<section>
<div class="p-5 mx-auto bg-color w-25">
  <%= render "common/user", :user => @user %>
  <div class="all-border p-2">
    <h5>Bio</h5>
    <p><%= @user.bio %></p>
  </div>
  
  <div class="all-border p-2 my-2">
    <ul>
      <% @user.fetch_recent_posts.each do |post| %>
          <%= render 'common/post', :post => post %>
      <% end %>
    </ul>
  </div>
  <div >
    <button><%= link_to 'See all users', users_path %></button>
    <button><%= link_to 'See all posts', user_posts_path(@user) %></button>
    <%= button_to 'Delete Post' , post_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  </div>
</section>
