  <div>
    <div>
      <h2><%= @user.name%></h2>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>

<% @posts.each do |post| %>
  <div>
    <div>
     <%= link_to "#{post.title}", user_post_path(@user.id, post.id), class:"anything" %> 
      <h3><%= post.text%></h3>
      <p>Number of comments: <%= post.comments_counter %> <span>Number of likes: <%= post.likes_counter %></span></p>
    </div>
  </div>
  <div>
    <% post.recent_comments.each do |comment| %>
       <h2><%= comment.author.name%>: <%= comment.text%></h2>
    <%end%>
  </div>
<%end%>

<div>
  <button>
      Pagination
  </button>
</div>

<% if can? :destroy, Post %>
    <%= link_to 'Create-post', new_post_path, class:'btn' %>
<% end %>
