<div class="px">
<%= link_to user_post_path(post.author, post) do %>
  <li>
    <h5>Post #<%= "#{post.id}" %> <%= post.title %></h5>
    <p><%= post.text[0..200] ... %></p>
    <p> 
      <small>Comments: <%= post.comments_counter || 0 %>, </small>
      <small> Likes: <%= post.likes_counter || 0 %></small>
    </p>
    <% if can? :destroy, post %>
      <%= button_to 'Delete Post' , user_post_path(@user, post), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </li>
<% end %>
</div>
